<%@posts.each do |post| %>
  <p>
    <%=post.id%> <%=link_to post.content ,"/home/#{post.id}/show"%>　by<%=User.find_by(id:post.user_id).name%>
    <%= link_to "いいね",home_favorite_path(post.id,user_id: current_user.id),method: :put%>
    <%=Favorite.where(post_id:post.id).count%>
    <%= link_to "編集", "/home/#{post.id}/edit"%>
    <%= link_to "削除", "/home/#{post.id}/destroy",method: :delete%>
  </p>
<%end%>

<%= link_to "投稿", "/home/new"%>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
